<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot PostgreSQL Demo</title>
</head>
<body>
    <form action="#" th:action="@{/saveUser}" th:object="${user}" method="post">
        <table border="0">
            <tr>
                <td>Name:</td>
                <td><input id="first" type="text" th:field="*{fullName}"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input id="email" type="text" th:field="*{email}"/></td>
            </tr>
            <tr><td><input type="submit" name="Submit"/></td></tr>

        </table>
    </form>
</body>
</html>